{% extends 'music/base.html' %}
{% block title %}Add A New Album{% endblock %}



{% block body %}
    <div class="container-fluid mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-7 ">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <form action="" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            {% include 'music/form-template.html' %}
                            <div class="form-group row">
                                <div class="col-sm-10 offset-sm-2">
                                    <button class="btn btn-default" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}